.root {
  display: flex;
  gap: 0.55vw;
}

.pic {
  background-image: url(../../images/fire.svg);
  background-repeat: no-repeat;
  width: 100%;
  width: 2.22vw;
  aspect-ratio: 1 / 1;
}

.text {
  color: #57b8ff;
  font-size: 1.11vw;
  line-height: 1;
  padding: 0.42vw 0 0;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .root {
    gap: 1.1vw;
  }

  .pic {
    width: 4.44vw;
  }

  .text {
    font-size: 2.22vw;
    padding: 0.84vw 0 0;
  }
}

@media screen and (max-width: 450px) {
  .root {
    gap: 2vw;
  }

  .pic {
    width: 6.66vw;
    background-size: contain;
  }

  .text {
    font-size: 3.33vw;
    padding: 1.6vw 0 0;
  }
}
