.root {
  background-color: #222730;
  color: #999;
}

.container {
  padding: 9.03vw 4.17vw 12.15vw;
  display: flex;
  gap: 10.56vw;
  margin: 0 auto;
}

.text {
  width: 20.2vw;
  font-size: 1.04vw;
  line-height: 1.74vw;
  padding: 2.43vw 0 0;
  margin: 0;
}

.links {
  display: flex;
  gap: 10.56vw;
}

.title {
  color: #fff;
  font-size: 1.25vw;
  line-height: 2.08vw;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  width: 11.6vw;
}

.items {
  list-style-type: none;
  margin: 0;
  padding: 1.66vw 0 0;
}

.link {
  color: #999;
  font-size: 1.04vw;
  line-height: 246%;
  text-transform: capitalize;
  text-decoration: none;
  transition: opacity 0.3s;
}

.link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .container {
    justify-content: space-between;
  }

  .text {
    width: 28vw;
    font-size: 2.08vw;
    line-height: 3.48vw;
  }

  .title {
    font-size: 2.5vw;
    line-height: 4.16vw;
    width: auto;
  }

  .link {
    font-size: 2.08vw;
  }
}

@media screen and (max-width: 450px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .text {
    width: 85vw;
    font-size: 4vw;
    line-height: 6vw;
  }

  .links {
    justify-content: space-between;
    width: 85vw;
  }

  .title {
    font-size: 5vw;
    line-height: 8vw;
  }

  .link {
    font-size: 4vw;
  }
}
